.breadcrumbs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	// .breadcrumbs__item
	&__item {
		display: flex;
		align-items: center;
		gap: 1rem;
		&:not(:last-child) {
			&::before {
				order: 1;
				font-size: 0.5rem;
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		&.active {
			color: $accent;
		}
	}
}
