.braces {
	// .braces__wrapper
	&__wrapper {
		padding: rem(28) 0;
		@media (min-width: $md5) {
			padding: rem(48) 0;
		}
		@media (min-width: $md3) {
			padding: rem(72) 0;
		}
		background: linear-gradient(rgba($color: #3fc1c9, $alpha: 0.25), rgba($color: #3fc1c9, $alpha: 0.25)), url("@img/braces.png") center 0 / cover no-repeat;
	}
	// .braces__container
	&__container {
	}
	// .braces__title
	&__title {
	}
	// .braces__subtitle
	&__subtitle {
		color: #000;
		font-size: 0.875rem;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 2rem;
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			margin-top: 3.5rem;
			font-size: 1.375rem;
		}
	}
	// .braces__list
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 2rem;
		@media (min-width: $md5) {
			margin-top: 3rem;
		}
		gap: 1.5rem;
		@media (min-width: $md3) {
			gap: 2.5rem;
			margin-top: 4.5rem;
		}
		.service {
			flex: 0 0 100%;
			@media (min-width: $md5) {
				flex: 0 0 25.8125rem;
			}
			min-height: auto;
		}
	}
}
