.heading {
	padding-top: $header !important;
	.breadcrumbs {
		padding: rem(32) 0;
	}
	// .heading__container
	&__container {
	}
	// .heading__title
	&__title {
		@media (min-width: $md3) {
			margin-top: 2.35rem;
		}
	}
	// .heading__subtitle
	&__subtitle {
		font-size: 0.875rem;
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 2.5rem;
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			margin-top: 3.5rem;
			font-size: 1.375rem;
		}
	}
	// .heading__contacts
	&__contacts {
		margin-top: 2.5rem;
		border-radius: 0.75rem;
		background: #fff;
		box-shadow: rem(6) rem(7) rem(6.3) 0 rgba(0, 0, 0, 0.15);
		display: flex;
		justify-content: space-between;

		flex-direction: column;
		padding: 1.5rem 1.125rem;
		@media (min-width: $md5) {
			padding: 0.63rem 1.5rem;
			margin-top: 3.5rem;
		}
		@media (min-width: $md3) {
			align-items: center;
			margin-top: 4.5rem;
			flex-direction: row;
		}
	}
	// .heading__contacts-block
	&__contacts-block {
		display: flex;
		align-items: center;
		gap: 1rem;
		@media (min-width: $md5) {
			padding: 0.63rem 1.12rem;
		}
		@media (max-width: $md5) {
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
	}
	// .heading__contacts-icon
	&__contacts-icon {
		flex-shrink: 0;
		width: 1.5rem;
		height: 1.5rem;
		@media (min-width: $md5) {
			width: 2rem;
			height: 2rem;
		}
		@media (min-width: $md3) {
			width: 2.5rem;
			height: 2.5rem;
		}
	}
	// .heading__contacts-body
	&__contacts-body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .heading__contacts-caption
	&__contacts-caption {
		@media (max-width: $md5) {
			font-size: 1.125rem;
		}
	}
	// .heading__contacts-link
	&__contacts-link {
		font-size: 1rem;
		margin-top: 0.25rem;
		@media (min-width: $md3) {
			margin-top: 0.5rem;
			font-size: 1.25rem;
		}
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .heading__contacts-worktime
	&__contacts-worktime {
		margin-top: 0.25rem;
		@media (min-width: $md3) {
			margin-top: 0.5rem;
			font-size: 1.25rem;
		}
	}
	// .heading__btn
	&__btn {
		margin-top: 2rem;
		min-width: 19.0625rem;
		width: 100%;
		@media (min-width: $md5) {
			width: auto;
		}
	}
	// .heading__list
	&__list {
		font-size: 0.875rem;
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 3.5rem;
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: 1.375rem;
		}
	}
	// .heading__list-item
	&__list-item {
		& strong {
			font-weight: 500;
			margin-right: 1rem;
			@media (min-width: $md4) {
				font-size: 1.5rem;
			}
		}
		& a {
			color: #106fae;
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: none;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;
			white-space: nowrap;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
}

.location {
	// .location__container
	&__container {
	}
	// .location__title
	&__title {
	}
	// .location__body
	&__body {
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 3.5rem;
		}
		@media (min-width: $md3) {
			margin-top: 4.5rem;
		}
		position: relative;
		z-index: 1;
		padding: 4.5rem 0 5.25rem;
	}
	// .location__content
	&__content {
		border-radius: 0.9375rem;
		background: #fff;
		padding: 2rem;
		max-width: 25.8125rem;
		@media (min-width: $md5) {
			padding: 2rem 2.5rem;
		}
	}
	// .location__map
	&__map {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		z-index: -1;
	}
}
