.main {
	padding-bottom: rem(500) !important;
	@media (min-width: $md4) {
		padding-bottom: 10.75rem !important;
	}
	// .main__wrapper
	&__wrapper {
		padding-top: $header;
		padding-bottom: rem(1);
		background: linear-gradient(90deg, $bg-color 0%, rgba(221, 221, 221, 0) 40%), linear-gradient(180deg, $bg-color 0%, rgba(221, 221, 221, 0) 26.62%),
			url("@img/main.jpg") center 0 / 60rem auto no-repeat;

		@media (min-width: $md5) {
			background: linear-gradient(90deg, $bg-color 26.72%, rgba(221, 221, 221, 0) 50.62%), linear-gradient(180deg, $bg-color -10%, rgba(221, 221, 221, 0) 16.62%),
				url("@img/main.jpg") 0 0 / cover no-repeat;
		}
	}
	// .main__container
	&__container {
	}
	// .main__header
	&__header {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: rem(100);
		gap: 2rem;
		@media (min-width: $md2) {
			padding-top: rem(172);
			justify-content: space-between;
			align-items: flex-end;
			flex-direction: row;
		}
	}
	// .main__offter
	&__offer {
		@media (min-width: $md2) {
			padding-bottom: 10rem;
		}
	}
	// .main__caption
	&__caption {
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .main__title
	&__title {
		color: #106fae;
		font-size: 3rem;
		@media (min-width: $md5) {
			font-size: 4rem;
		}
		@media (min-width: $md4) {
			font-size: 5rem;
		}
		font-weight: 800;
		text-transform: uppercase;
	}
	// .main__tagline
	&__tagline {
		max-width: 36.375rem;
		margin-top: 2.5rem;
		@media (min-width: $md4) {
			margin-top: 2rem;
			font-size: 1.375rem;
		}
	}
	// .main__btns
	&__btns {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
		gap: rem(8);
		@media (min-width: $md5) {
			gap: 1.25rem;
			margin-top: 2rem;
			flex-direction: row;
		}
	}
	// .main__btn
	&__btn {
		@media (min-width: $md4) {
			min-width: 19.0625rem;
		}
	}
	// .main__promotion
	&__promotion {
		@media (max-width: $md4) {
			display: none;
		}
	}
	// .main__form
	&__form {
		margin-top: rem(37);
		padding: rem(24);
		margin-bottom: rem(-470);
		@media (min-width: $md4) {
			margin-bottom: -7rem;
			padding: 2.5rem 1.5rem 2.56rem;
			margin-top: 6.5rem;
		}
		border-radius: 0.75rem;
		background: #fff;
		box-shadow: rem(6) rem(7) rem(6.3) 0 rgba(0, 0, 0, 0.15);
	}
}

.benefits {
	// .benefits__wrapper
	&__wrapper {
		color: #fff;
		position: relative;
		z-index: 1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgba(16, 111, 174, 0.5), rgba(16, 111, 174, 0.5));
			z-index: -1;
		}
		&.has-blur {
			&::before {
				backdrop-filter: blur(rem(8));
				-webkit-backdrop-filter: blur(rem(8));
			}
		}
		padding: rem(28) 0;
		@media (min-width: $md5) {
			padding: rem(48) 0;
		}
		@media (min-width: $md3) {
			padding: rem(72) 0;
		}
		.benefits__title {
			color: #fff;
		}
	}
	// .benefits__container
	&__container {
	}
	// .benefits__title
	&__title {
	}
	// .benefits__subtitle
	&__subtitle {
		margin-top: rem(24);
		font-size: 0.875rem;
		@media (min-width: $md5) {
			margin-top: 3.5rem;
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: 1.375rem;
		}
	}
	// .benefits__slider
	&__slider {
		overflow: visible;
		margin-top: rem(40);
		@media (min-width: $md4) {
			margin-top: 4.5rem;
			.swiper-wrapper {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				row-gap: 3.5rem;
				column-gap: 1rem;
			}
		}
		@media (min-width: $md3) {
			.swiper-wrapper {
				grid-template-columns: repeat(2, 1fr) 1.1fr;
			}
		}
	}
	&__pagination {
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .benefits__item
	&__item {
		display: flex;
		align-items: flex-start;
		gap: 0.75rem;
		counter-increment: num;
		position: relative;
		@for $i from 1 to 9 {
			&:nth-child(#{$i}) {
				&::before {
					content: "0" counter(num);
				}
			}
		}
		&::before {
			content: counter(num);
			position: absolute;
			color: rgba(63, 193, 201, 0.15);
			font-weight: 500;
			font-size: 3rem;
			top: -0.75rem;
			left: 0rem;
			@media (min-width: $md5) {
				top: -2.75rem;
				left: -3rem;
				font-size: 5.375rem;
			}
		}
	}
	// .benefits__item-icon
	&__item-icon {
		flex-shrink: 0;
		width: 2.1875rem;
		height: 2.1875rem;
		@media (min-width: $md5) {
			width: 2.8125rem;
			height: 2.8125rem;
		}
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .benefits__item-column
	&__item-column {
	}
	// .benefits__item-caption
	&__item-caption {
		@media (max-width: $md5) {
			br {
				display: none;
			}
		}
	}
	// .benefits__item-text
	&__item-text {
		font-size: 0.875rem;
		margin-top: rem(5);
		@media (min-width: $md5) {
			margin-top: 0.31rem;
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			font-size: 1.25rem;
		}
	}
	// .benefits__list
	&__list {
		&:not(:first-child) {
			margin-top: 2.5rem;
			@media (min-width: $md5) {
				margin-top: 3.5rem;
			}
			@media (min-width: $md3) {
				margin-top: 4.5rem;
			}
		}
		display: flex;
		gap: 3.31rem;
		row-gap: 1.5rem;
		flex-wrap: wrap;
		@media (min-width: $md3) {
			flex-wrap: nowrap;
		}
	}
	// .benefits__block
	&__block {
		border-radius: 0.9375rem;
		background: #fff;
		padding: 1.25rem;
		min-height: rem(122);
		display: flex;
		align-items: center;
		gap: 0.5rem;
		flex: 1 1 auto;
	}
	// .benefits__block-icon
	&__block-icon {
		width: 3.125rem;
		height: 3.125rem;
		flex-shrink: 0;
		background-image: url("data:image/svg+xml,%3Csvg width='51' height='53' viewBox='0 0 51 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.0815 0.00326537C33.0332 -0.118102 40.8335 3.14549 45.7434 9.51151C50.6099 15.8212 51.3118 24.147 49.7697 32.013C48.1623 40.2124 45.0299 49.2226 37.367 52.2391C30.0575 55.1165 22.9233 49.1831 16.0945 45.2693C10.0814 41.823 3.67078 38.4311 1.59132 31.7348C-0.684017 24.4077 0.63899 16.2682 5.18251 10.1306C9.87731 3.78867 17.2797 0.122345 25.0815 0.00326537Z' fill='%23EDFCFD'/%3E%3C/svg%3E%0A");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	// .benefits__block-text
	&__block-text {
	}
	// .benefits__hint
	&__hint {
		margin-top: 3.5rem;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			font-size: 1.375rem;
		}
	}
	// .benefits__btn
	&__btn {
		margin-top: 2rem;
	}
}

.about {
	// .about__container
	&__container {
	}
	// .about__title
	&__title {
	}
	// .about__content
	&__content {
		margin-top: 2.5rem;
		gap: 1.5rem;
		display: grid;
		@media (min-width: $md3) {
			grid-template-columns: repeat(2, 1fr);
			gap: 1.25rem;
		}
		@media (min-width: $md3) {
			margin-top: 4.5rem;
		}
	}
	// .about__images
	&__images {
		display: grid;
		grid-template-columns: 1.4fr 1fr;
		gap: 0.75rem;
		@media (max-width: $md4) {
			gap: 1.25rem;
			grid-auto-rows: 10.25rem;
		}
		@media (min-width: $md3) {
			grid-auto-rows: 12.4375rem;
		}
		@media (min-width: $md2) {
			grid-auto-rows: 18.4375rem;
		}
	}
	// .about__image
	&__image {
		&:first-child {
			grid-row: span 2;
		}
		& img {
			border-radius: 0.875rem;
			border: rem(2) solid #fff;
			@media (min-width: $md4) {
				border: rem(4) solid #fff;
			}
		}
	}
	// .about__body
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
	}
	// .about__desc
	&__desc {
		font-size: 1rem;
		@media (min-width: $md2) {
			font-size: 1.375rem;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1.3em;
			}
		}
	}
	// .about__more
	&__more {
		margin-top: auto;
		margin-left: 0;
	}
}

.sales {
	// .sales__container
	&__container {
	}
	// .sales__title
	&__title {
	}
	// .sales__subtitle
	&__subtitle {
		color: $blue;
		font-size: 0.875rem;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 2.5rem;
			font-size: 1rem;
		}
		@media (min-width: $md4) {
			margin-top: 3.5rem;
			font-size: 1.375rem;
		}
		@media (min-width: $md2) {
			font-size: 1.875rem;
		}
	}
	// .sales__banner
	&__banner {
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 3.56rem;
		}
		@media (min-width: $md3) {
			margin-top: 4.69rem;
		}
	}

	&__more {
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
	}
}

.gallery {
	// .gallery__container
	&__container {
	}
	// .gallery__title
	&__title {
	}
	// .gallery__slider
	&__slider {
		position: relative;
		margin-top: 2.5rem;
		@media (min-width: $md4) {
			padding: 0 2.25rem;
			margin-top: 4.5rem;
		}
	}
	// .gallery__slide
	&__slide {
		display: grid;
		grid-template-columns: 0.45fr repeat(3, 1fr);
		gap: rem(7);
		grid-auto-rows: rem(87);
		@media (min-width: $md5) {
			gap: 1rem;
			grid-auto-rows: 10rem;
		}
		@media (min-width: $md3) {
			gap: 1.7rem;
			grid-auto-rows: 21rem;
		}
	}
	// .gallery__photo
	&__photo {
		overflow: hidden;
		border-radius: rem(8);
		@media (min-width: $md5) {
			border-radius: 1rem;
		}
		@media (min-width: $md3) {
			border-radius: 1.25rem;
		}
		&.lg-row {
			grid-column: span 2;
		}
		&.lg-column {
			grid-row: span 2;
		}
		display: flex;

		& img {
			will-change: transform;
			transition: transform 0.15s ease;
			border: rem(2) solid #fff;
			border-radius: rem(8);
			@media (min-width: $md5) {
				border-radius: 1rem;
			}
			@media (min-width: $md3) {
				border-radius: 1.25rem;
				border: rem(4) solid #fff;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.05);
				}
			}
		}
	}
	// .gallery__prev
	&__prev {
		@media (max-width: $md4) {
			display: none;
		}
	}
	// .gallery__next
	&__next {
		@media (max-width: $md4) {
			display: none;
		}
	}
	// .gallery__more
	&__more {
	}
}
