<@@tagName class="@@className promotion">
    <a href="" class="promotion__card">
        <span class="promotion__header">
            <span class="promotion__icon">
                <img src="@img/icons/clock.svg" alt="Иконка">
            </span>
            <span class="promotion__time">@@time</span>
        </span>
        <span class="promotion__name title-sm">@@name</span>
        <span class="promotion__price">
            <span class="promotion__price-old">@@oldPrice</span>
            <span class="promotion__price-current">@@currentPrice</span>
        </span>
    </a>
</@@tagName>