<li class="review">
    <div class="review__header">
        <div class="review__thumb">@@letter</div>
        <div class="review__name title-sm">@@name</div>
    </div>
    <div class="review__rate rate">
        <span class="rate__star icon-star"></span><span class="rate__star icon-star"></span><span class="rate__star icon-star"></span><span class="rate__star icon-star"></span><span class="rate__star icon-star"></span>
    </div>
    <blockquote class="review__quote">@@review</blockquote>
</li>