@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MontserratAlternates";
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Medium.woff2") format("woff2"), url("../fonts/MontserratAlternates-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MontserratAlternates";
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Regular.woff2") format("woff2"), url("../fonts/MontserratAlternates-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-star-outline:before {
  content: "\e90a";
}

.icon-arrow-circle:before {
  content: "\e900";
}

.icon-clock:before {
  content: "\e901";
}

.icon-close:before {
  content: "\e902";
}

.icon-location:before {
  content: "\e903";
}

.icon-phone:before {
  content: "\e904";
}

.icon-search:before {
  content: "\e905";
}

.icon-star:before {
  content: "\e906";
}

.icon-vk:before {
  content: "\e907";
}

.icon-whatsapp:before {
  content: "\e908";
}

.icon-youtube:before {
  content: "\e909";
}

.color-accent {
  color: #3fc1c9;
}

.more-link {
  color: #106fae;
  font-size: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.more-link::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 2.75rem;
}

.title {
  color: #106fae;
  font-family: "Gilroy";
  font-size: 2.5rem;
  font-weight: 500;
}

.title-sm {
  color: #106fae;
  font-family: "Gilroy";
  font-size: 1.625rem;
  font-weight: 500;
}

.quantity-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.4375rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.quantity-block.quantity-block-lg {
  min-height: 3.5rem;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.quantity-block.quantity-block-lg .quantity-block__btn {
  font-size: 1.5rem;
}

.quantity-block.quantity-block-lg .quantity-block__input {
  font-size: 1.5rem;
  min-width: 4.6875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.quantity-block__btn {
  background: rgba(234, 234, 234, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1875rem;
  padding: 0 0.5625rem;
  line-height: 1.5263157895;
  width: 100%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.quantity-block__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0.0625rem solid rgba(196, 196, 196, 0.5);
  border-bottom: none;
  border-top: none;
  color: #171717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.0138888889em;
  line-height: 1.3888888889;
  text-overflow: ellipsis;
  outline: none;
  text-align: center;
  width: 2.5625rem;
  background: rgba(234, 234, 234, 0.7);
}

.swiper-button-next,
.swiper-button-prev {
  -webkit-transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
  z-index: 2;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3fc1c9;
  color: #fff;
  -webkit-box-shadow: 0 0 0.5625rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 0.5625rem rgba(0, 0, 0, 0.06);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next:disabled,
.swiper-button-next.swiper-button-disabled,
.swiper-button-next[aria-disabled=true],
.swiper-button-prev:disabled,
.swiper-button-prev.swiper-button-disabled,
.swiper-button-prev[aria-disabled=true] {
  background: #fff;
  color: #171717;
  pointer-events: none;
}

.swiper-button-next.swiper-button-lock,
.swiper-button-prev.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: static;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination.swiper-pagination-lock {
  margin-top: 0;
}

.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 0.5rem;
  height: 0.5rem;
  --swiper-pagination-bullet-horizontal-gap: 0.375rem;
  background: #d9d9d9;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #3fc1c9;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__backdrop {
  background: rgba(30, 30, 30, 0.4);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  position: relative;
  display: none;
  width: 100%;
  max-width: 41.875rem;
  background: #fff;
  color: #171717;
  border-radius: 0.75rem;
  padding: 1.875rem 0.625rem;
}

.popup__close {
  position: absolute;
  top: 0.63rem;
  right: 0.63rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.popup__title {
  text-align: center;
}

.popup__subtitle {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.popup__form {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.breadcrumbs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.breadcrumbs__item:not(:last-child)::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 0.5rem;
}

.breadcrumbs__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.breadcrumbs__link.active {
  color: #3fc1c9;
}

.before-slider {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 76.7554479419%;
  overflow: hidden;
  border-radius: 1.25rem;
}

.before-slider__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.before-slider__after {
  width: 100%;
  --value: 50%;
  clip-path: polygon(0 0, var(--value) 0, var(--value) 100%, 0 100%);
}

.before-slider__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0);
  outline: none;
  margin: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.before-slider__input::-webkit-slider-container {
  min-height: 100%;
}

.before-slider__input::-webkit-slider-runnable-track {
  min-height: 100%;
  align-self: stretch;
}

.before-slider__input::-ms-track {
  min-height: 100%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.before-slider__input::-moz-range-track {
  min-height: 100%;
  align-self: stretch;
}

.before-slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.3125rem;
  height: 100%;
  background: #fff;
  cursor: e-resize;
}

.before-slider__input::-moz-range-thumb {
  width: 0.3125rem;
  height: 100%;
  background: #fff;
  cursor: e-resize;
}

.before-slider__input::-ms-thumb {
  width: 0.3125rem;
  height: 100%;
  background: #fff;
  cursor: e-resize;
}

.before-slider__button {
  pointer-events: none;
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  background: rgba(201, 201, 201, 0.5);
  -webkit-backdrop-filter: blur(0.05rem);
  backdrop-filter: blur(0.05rem);
  border-radius: 50%;
  left: calc(50% - 1.125rem);
  top: calc(50% - 1.125rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: e-resize;
}

.before-slider__button:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10.5px solid white;
  pointer-events: none;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.before-slider__button:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10.5px solid white;
  pointer-events: none;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #3fc1c9;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__subtitle {
  margin-top: 1.5rem;
  color: #666a71;
  font-size: 1.375rem;
}

.form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.form__fields:not(:first-child) {
  margin-top: 1.91rem;
}

.form__control {
  text-overflow: ellipsis;
  -webkit-transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
  width: 100%;
  border-radius: 4.25rem;
  padding: 0.88rem 1.75rem;
  border: 0.0625rem solid #106fae;
  color: #3fc1c9;
  font-size: 1.875rem;
}

.form__control::-webkit-input-placeholder {
  opacity: 0.3;
  color: currentColor;
}

.form__control::-moz-placeholder {
  opacity: 0.3;
  color: currentColor;
}

.form__control:-ms-input-placeholder {
  opacity: 0.3;
  color: currentColor;
}

.form__control::-ms-input-placeholder {
  opacity: 0.3;
  color: currentColor;
}

.form__control::placeholder {
  opacity: 0.3;
  color: currentColor;
}

.form__control:hover,
.form__control:focus {
  border-color: #3fc1c9;
}

.form__control:disabled {
  background: #ddd;
  border-color: #ddd;
}

.form__control._error {
  outline: 1px solid #ba2028;
  background: #fff1ed;
}

.form__control:is(textarea) {
  height: 8.5625rem;
  resize: none;
}

.form__checkbox {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form__checkbox-text {
  position: relative;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.125rem;
  line-height: 150%;
  padding: 0 0 0 2.5em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid #171717;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.1875rem;
  color: #3fc1c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text a {
  color: #106fae;
}

.btn {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  font-size: 1.375rem;
  padding: 1rem 2rem;
  border-radius: 2.6875rem;
}

.btn::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 0.65em;
}

.btn:focus-visible {
  -webkit-box-shadow: 0 0 0.0625rem 0.0625rem #171717;
          box-shadow: 0 0 0.0625rem 0.0625rem #171717;
}

.btn.btn-primary {
  background: #3fc1c9;
  color: #fff;
}

.btn.btn-primary:hover {
  background: #2f9fa6;
}

.btn.btn-primary:active {
  background: #298c92;
}

.btn.btn-sm {
  padding: 0.5rem 2.75rem;
}

.btn.btn-xs {
  padding: 0em 3.5625em;
}

.btn.btn-fullwidth {
  width: 100%;
  padding-inline: 1rem;
}

.btn:disabled,
.btn[aria-disabled=true] {
  cursor: default;
  opacity: 0.7;
  pointer-events: none;
}

.iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}

body {
  font-family: "MontserratAlternates", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  color: #171717;
  background-color: #edfcfd;
  margin-right: 0 !important;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.page > * {
  padding: 3.75rem 0;
}

.page > *:first-child {
  padding-top: 0;
}

.page > *:last-child {
  padding-bottom: 0;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 0.75rem;
}

.promo__body {
  padding: 6.37rem 0 5.19rem;
  background-color: #006276;
  position: relative;
}

.promo__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.72%, #edfcfd), color-stop(76.62%, rgba(221, 221, 221, 0)));
  background: linear-gradient(90deg, #edfcfd 20.72%, rgba(221, 221, 221, 0) 76.62%);
  z-index: 2;
}

.promo__body > * {
  z-index: 2;
  position: relative;
}

.promo__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 16.3125rem);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  z-index: 1;
}

.promo__background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 111, 174, 0.35);
}

.promo__offer {
  margin-top: 4.5rem;
  max-width: 39.375rem;
}

.promo__desc {
  margin-top: 2.5rem;
  font-size: 1.375rem;
}

.promo__btn {
  margin-top: 1.5rem;
}

.desc__title {
  margin-bottom: 4.5rem;
}

.desc__text {
  font-size: 1.375rem;
  line-height: normal;
}

.desc__text:not(:last-child) {
  margin-bottom: 2rem;
}

.desc__list {
  font-size: 1.375rem;
  line-height: normal;
  list-style: disc;
  padding-left: 1.25em;
}

.desc__list:not(:last-child) {
  margin-bottom: 2rem;
}

.desc__list li:not(:last-child) {
  margin-bottom: 1rem;
}

.services__grid {
  margin-top: 4.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.services__list {
  margin-top: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.services__list .service {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem 2rem;
}

.services__list .service .service__desc {
  margin-top: auto;
}

.services__btn {
  margin-top: 2.5rem;
}

.service {
  border-radius: 0.9375rem;
  background: #fff;
  padding: 1.25rem 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.service__icon {
  width: 3.125rem;
  height: 3.11313rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='53' viewBox='0 0 50 53' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.5815 0.00326537C32.5332 -0.118102 40.3335 3.14549 45.2434 9.51151C50.1099 15.8212 50.8118 24.147 49.2697 32.013C47.6623 40.2124 44.5299 49.2226 36.867 52.2391C29.5575 55.1165 22.4233 49.1831 15.5945 45.2693C9.5814 41.823 3.17078 38.4311 1.09132 31.7348C-1.18402 24.4077 0.13899 16.2682 4.68251 10.1306C9.37731 3.78867 16.7797 0.122345 24.5815 0.00326537Z' fill='%23EDFCFD'/%3E%3C/svg%3E");
}

.service__price {
  margin-top: 0.75rem;
}

.service__price-item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.service__price-caption {
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.025em;
}

.service__price-value {
  margin-top: 1.06rem;
  color: #106fae;
  font-family: "Manrope";
  font-size: 1.5rem;
  text-transform: lowercase;
}

.service__desc {
  margin-top: 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.025em;
  margin-bottom: auto;
}

.service__link {
  margin-top: 0.94rem;
}

.specialists__title {
  margin-bottom: 4.5rem;
}

.specialists__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.5rem;
  -webkit-column-gap: 2.8125rem;
     -moz-column-gap: 2.8125rem;
          column-gap: 2.8125rem;
}

.specialists__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.specialist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.specialist__image {
  border-radius: 1.25rem;
  overflow: hidden;
}

.specialist__image img {
  border-radius: 1.25rem;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}

.specialist__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.specialist__name {
  font-family: "Gilroy";
  font-size: 1.625rem;
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  margin-bottom: 1rem;
}

.specialist__experience {
  color: #666a71;
  font-size: 1.375rem;
}

.specialist__position {
  color: #666a71;
  font-size: 1.375rem;
}

.specialist__btns {
  margin-top: auto;
  width: 100%;
}

.specialist__btn:first-child:last-child {
  width: 100%;
}

.reviews__subtitle {
  margin-top: 4.5rem;
  color: #106fae;
  font-size: 1.875rem;
}

.reviews__list {
  margin-top: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.88rem;
}

.reviews__item-card {
  border-radius: 0.9375rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 1rem;
  min-width: 15.25rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.reviews__item-rate {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.25rem;
  font-size: 1.5625rem;
}

.reviews__item-star {
  color: #3fc1c9;
}

.reviews__item-quantity {
  margin-top: 0.13rem;
  color: #666a71;
  font-size: 1.375rem;
}

.license__wrapper {
  background: rgba(63, 193, 201, 0.25);
  padding: 4.5rem 0 0;
}

.license__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.license__main {
  padding-bottom: 4.5rem;
}

.license__body {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  padding-left: 6.75rem;
}

.license__photo {
  max-width: 11.6875rem;
}

.license__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

.license__name {
  font-size: 1.375rem;
}

.license__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.works__items {
  margin-top: 4.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 1.31rem;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works__item-desc {
  margin-top: 0.75rem;
  font-family: "Gilroy";
  font-size: 1.625rem;
  font-weight: 500;
}

.works__more {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contacts__wrapper {
  background: rgba(63, 193, 201, 0.25);
  padding: 4.5rem 0;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.contacts__side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.contacts__list {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.contacts__item-caption {
  color: #106fae;
  font-family: "Gilroy";
  font-size: 1.625rem;
  font-weight: 500;
  margin-bottom: 0.31rem;
}

.contacts__item-value {
  font-size: 1.375rem;
}

.contacts__item-value:is(a) {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.contacts__socials {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.contacts__social {
  font-size: 2.1875rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #106fae;
}

.contacts__form {
  max-width: 42.1875rem;
  margin-left: auto;
  margin-right: auto;
}

.guidelines {
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: contain;
}

.guidelines__wrapper {
  background-color: rgba(63, 193, 201, 0.25);
  padding: 4.5rem 0;
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: contain;
}

.guidelines__wrapper.guidelines__wrapper_white {
  background-color: transparent;
  padding: 0;
}

.guidelines__list {
  margin-top: 4.5rem;
  max-width: 47rem;
}

.guidelines__item {
  position: relative;
  counter-increment: num;
  padding-left: 3.37rem;
}

.guidelines__item:not(:last-child) {
  margin-bottom: 2rem;
}

.guidelines__item::before {
  content: counter(num);
  color: #106fae;
  font-family: "Gilroy";
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
}

.guidelines__item-caption {
  color: #106fae;
  font-family: "Gilroy";
  font-size: 1.625rem;
  font-weight: 500;
}

.guidelines__item-desc {
  margin-top: 0.31rem;
  font-size: 1.375rem;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item {
  font-size: 0.9375rem;
  padding: 1rem 0;
}

.menu__item.has-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  color: #193660;
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu__arrow {
  font-size: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.submenu {
  z-index: 2;
  display: none;
  padding-top: 1.25rem;
}

.submenu__list {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.submenu__link {
  font-size: 1rem;
  line-height: 1;
  height: 55px;
  border-radius: 0.625rem;
  border: 0.0625rem solid #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125em 0.625em;
  margin: 0;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.submenu__link.active .submenu__arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.submenu__thumb img {
  border-radius: 0.625rem;
}

.submenu__arrow {
  margin-left: auto;
  font-size: 0.5rem;
  width: 2.25rem;
  height: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.subsubmenu {
  display: none;
  padding: 0.9375rem 0;
}

.subsubmenu__link {
  border-radius: 0.375rem;
  display: block;
  font-size: 1rem;
  line-height: 2.3125;
  padding: 0.0625em 1.4375em;
}

.search {
  max-width: 380px;
  position: relative;
}

.search__input {
  background: #f3f3f3;
  border: 0.0625rem solid #f3f3f3;
  border: 0;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  min-height: 2.625rem;
  padding: 0.75rem 2.1875rem 0.75rem 1.25rem;
  width: 100%;
  text-overflow: ellipsis;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.search__input:focus {
  border: 0.0625rem solid #3fc1c9;
}

.search__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 9;
  padding: 0rem 0.9375rem;
  border-top: 0.0625rem solid #3fc1c9;
}

.mobile-menu__list {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}

.mobile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem 0;
}

.mobile-menu__item:has(.mobile-menu__btn) {
  padding: 0;
}

.mobile-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  font-size: 0.65rem;
}

.mobile-menu__link::before {
  width: 1.5625rem;
  height: 1.5625rem;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 0.0625rem solid #3fc1c9;
}

.mobile-menu__btn {
  display: block;
  width: 5rem;
}

.footer {
  border-top: 0.0625rem solid rgba(196, 196, 196, 0.4);
  padding: 2.5rem 0 0;
}

.footer__content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  max-width: 12.5rem;
}

.footer__menu {
  display: none;
}

.footer__menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu-link {
  color: #193660;
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__content-body {
  margin-top: 1rem;
  gap: 0.625rem;
  display: -ms-grid;
  display: grid;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.footer__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 1;
  gap: 0.5rem;
}

.footer__contacts-link::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3fc1c9;
  color: #fff;
  border-radius: 0.25rem;
}

.footer__contacts-link span {
  border-bottom: 0.0625rem dashed;
}

.footer__content-rate {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  line-height: 1;
  max-width: 20rem;
  font-size: 0.875rem;
}

.footer__info-item::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3fc1c9;
  color: #fff;
  border-radius: 0.25rem;
}

.footer__bottom {
  margin-top: 1rem;
  background: rgba(196, 196, 196, 0.2);
  padding: 1rem 0;
}

.footer__bottom-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.6428571429;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.footer__copy {
  opacity: 0.4;
}

.footer__privacy {
  opacity: 0.4;
  text-decoration: underline;
}

.benefits__list {
  margin-top: 4.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.94rem;
  -webkit-column-gap: 2.44rem;
     -moz-column-gap: 2.44rem;
          column-gap: 2.44rem;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.75rem;
  counter-increment: num;
  position: relative;
}

.benefits__item:nth-child(1)::before {
  content: "0" counter(num);
}

.benefits__item:nth-child(2)::before {
  content: "0" counter(num);
}

.benefits__item:nth-child(3)::before {
  content: "0" counter(num);
}

.benefits__item:nth-child(4)::before {
  content: "0" counter(num);
}

.benefits__item:nth-child(5)::before {
  content: "0" counter(num);
}

.benefits__item:nth-child(6)::before {
  content: "0" counter(num);
}

.benefits__item:nth-child(7)::before {
  content: "0" counter(num);
}

.benefits__item:nth-child(8)::before {
  content: "0" counter(num);
}

.benefits__item::before {
  content: counter(num);
  position: absolute;
  top: -2rem;
  left: -2rem;
  color: rgba(63, 193, 201, 0.15);
  font-family: "Gilroy";
  font-size: 5.375rem;
  font-weight: 500;
}

.benefits__item-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.8125rem;
  height: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__item-text {
  margin-top: 0.31rem;
  font-size: 1.25rem;
  line-height: 1;
  letter-spacing: 0.025em;
}

.about__content {
  margin-top: 4.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.about__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.25fr 1fr;
  grid-template-columns: 1.25fr 1fr;
  grid-auto-rows: 18.4375rem;
  gap: 1.25rem;
}

.about__image:first-child {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.about__image img {
  border-radius: 0.875rem;
  border: 0.25rem solid #fff;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.about__desc {
  font-size: 1.375rem;
}

.about__desc p:not(:last-child) {
  margin-bottom: 1.5em;
}

.about__more {
  margin-top: auto;
}

.sales__subtitle {
  margin-top: 1.5rem;
  color: #106fae;
  font-size: 1.875rem;
}

.sales__banner {
  margin-top: 4.69rem;
  border-radius: 1.875rem;
  background: rgba(63, 193, 201, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.875rem;
  overflow: hidden;
}

.sales__banner-main {
  padding: 5.06rem 1rem 7.5rem 6.5rem;
}

.sales__banner-desc {
  margin-top: 1rem;
  color: #666a71;
  font-size: 1.375rem;
}

.sales__banner-footer {
  margin-top: 2.62rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.sales__banner-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sales__banner-price-old {
  color: #979797;
  font-family: "Gilroy";
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: line-through;
}

.sales__banner-price-new {
  color: #ce0000;
  font-family: "Gilroy";
  font-size: 2rem;
  font-weight: 500;
}

.sales__banner-image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 37.5rem;
  margin-left: -5rem;
}

.sales__banner-image img {
  height: 100%;
  width: auto;
}

.sales__more {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 575.98px) {
  .fancybox__slide {
    padding: 1.25rem;
  }

  [class*=__container] {
    max-width: 33.75rem;
  }

  .submenu__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .mobile-menu__item {
    padding: 0.8125rem 0;
  }

  .mobile-menu__link {
    font-size: 0.75rem;
  }

  .mobile-menu__link::before {
    width: 2.1875rem;
    height: 2.1875rem;
    font-size: 1rem;
  }

  .mobile-menu__btn {
    width: 7.5rem;
  }

  .footer__content-body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__content-rate {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer__info {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .footer__bottom-body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 767.98px) {
  .quantity-block.quantity-block-lg {
    max-width: 12.5rem;
  }

  .popup {
    padding: 1.875rem 2.5rem;
  }

  [class*=__container] {
    max-width: 45rem;
  }

  .submenu__list {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 991.98px) {
  [class*=__container] {
    max-width: 60rem;
  }

  .footer__menu {
    display: block;
    margin-left: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 75%;
    width: 100%;
    font-size: 0.875rem;
  }

  .footer__content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__info {
    grid-column: auto;
  }
}

@media (min-width: 1199.98px) {
  [class*=__container] {
    max-width: 71.25rem;
  }

  .menu__close {
    display: none;
  }

  .menu__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu__item.has-child {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: calc(100vw - 1.875rem);
  }

  .submenu__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-shadow: 0 0.125rem 1.5rem rgba(0, 0, 0, 0.12);
            box-shadow: 0 0.125rem 1.5rem rgba(0, 0, 0, 0.12);
    border-radius: 1.25rem;
    padding: 1.25rem;
    background: #fff;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width: 1199.98px) and (any-hover: hover) {
  .menu__item.has-child:hover .submenu {
    display: block;
  }

  .menu__item.has-child:hover .menu__link {
    color: #000;
  }

  .menu__item.has-child:hover .menu__arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media (min-width: 1199.98px) and (hover: none) {
  .submenu.active {
    display: block;
  }
}

@media (min-width: 1399.98px) {
  [class*=__container] {
    max-width: 82.5rem;
  }

  .menu__item {
    padding: 1.25rem 0;
    font-size: 1rem;
  }

  .submenu__list {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__menu {
    font-size: 1rem;
  }

  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__contacts-link {
    font-size: 1.125rem;
  }

  .footer__info-item {
    font-size: 1rem;
  }
}

@media (max-width: 1199.98px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 10;
    padding: 3.125rem;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    overflow-y: auto;
  }

  .menu.active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .submenu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .submenu.active {
    display: block;
  }
}

@media (max-width: 991.98px) {
  body:has(.menu.active) {
    overflow: hidden;
  }
}

@media (any-hover: hover) {
  .quantity-block__btn:hover {
    background: #d1d1d1;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: #fff;
    color: #171717;
  }

  .popup__close:hover {
    color: #3fc1c9;
  }

  .breadcrumbs__link:hover {
    color: #3fc1c9;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #2f9fa6;
  }

  .form__checkbox-text a:hover {
    text-decoration: underline;
  }

  .specialist__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .specialist__name:hover {
    color: #3fc1c9;
  }

  .reviews__item-card:hover {
    background-color: #f2f2f2;
  }

  .contacts__item-value:is(a):hover {
    color: #106fae;
  }

  .contacts__social:hover {
    color: #0c517f;
  }

  .menu__link:hover {
    color: #000;
  }

  .subsubmenu__link:hover {
    background: rgba(124, 190, 105, 0.13);
  }

  .search__btn:hover {
    color: #3fc1c9;
  }

  .footer__menu-link:hover {
    color: #000;
  }

  .footer__contacts-link:hover span {
    border-bottom-color: transparent;
  }

  .footer__privacy:hover {
    text-decoration: none;
  }
}

@media (hover: none) {
  .menu__arrow.active {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}