body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	color: $text;
	background-color: $bg-color;
	margin-right: 0 !important;
	&:has(.menu.active) {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
	overflow: hidden;
	& > * {
		padding: rem(28) 0;
		@media (min-width: $md2) {
			padding: rem(32) 0;
		}
		@media (min-width: $md5) {
			padding: rem(60) 0;
		}
		&:first-child {
			&:not(.promo) {
				padding-top: 0;
			}
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(18);
	@media (min-width: $md5) {
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

.promo {
	padding-top: $header !important;
	margin-top: rem(-40);
	// .promo__container
	&__container {
	}
	// .promo__body
	&__body {
		padding: 7rem 0 5.19rem;
		background-color: #006276;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(90deg, $bg-color 20.72%, rgba(221, 221, 221, 0) 76.62%);
			z-index: 2;
		}
		& > * {
			z-index: 2;
			position: relative;
		}
	}
	&__background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: calc(100% - rem(261));
		background-size: cover;
		background-position: center right;
		background-repeat: no-repeat;
		z-index: 1;
		&.promo__background-gradient {
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(16, 111, 174, 0.35);
			}
		}
	}
	// .promo__offer
	&__offer {
		margin-top: 4.5rem;
		max-width: 39.375rem;
	}
	// .promo__title
	&__title {
	}
	// .promo__desc
	&__desc {
		margin-top: 2.5rem;
		font-size: 1.375rem;
	}
	// .promo__btn
	&__btn {
		margin-top: 1.5rem;
	}
}

.desc {
	// .desc__container
	&__container {
	}
	// .desc__title
	&__title {
		margin-bottom: 4.5rem;
	}
	// .desc__text
	&__text {
		font-size: 1.375rem;
		line-height: normal;
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
	// .desc__list
	&__list {
		font-size: 1.375rem;
		line-height: normal;
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		list-style: disc;
		padding-left: 1.25em;
		& li {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
}

.services {
	// .services__container
	&__container {
	}
	// .services__title
	&__title {
	}
	// .services__grid
	&__grid {
		margin-top: 4.5rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.25rem;
	}
	// .services__list
	&__list {
		margin-top: 4.5rem;
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		.service {
			display: grid;
			align-items: center;
			grid-template-columns: repeat(2, 1fr);
			padding: 1.5rem 2rem;
			.service__desc {
				margin-top: auto;
			}
		}
	}
	// .services__btn
	&__btn {
		margin-top: 2.5rem;
	}
}

.service {
	border-radius: 0.9375rem;
	background: #fff;
	padding: 1.25rem 1.125rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: rem(281);
	// .service__main
	&__main {
		display: flex;
		flex-direction: column;
	}
	// .service__header
	&__header {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	// .service__icon
	&__icon {
		width: auto;
		height: 3.11313rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='53' viewBox='0 0 50 53' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.5815 0.00326537C32.5332 -0.118102 40.3335 3.14549 45.2434 9.51151C50.1099 15.8212 50.8118 24.147 49.2697 32.013C47.6623 40.2124 44.5299 49.2226 36.867 52.2391C29.5575 55.1165 22.4233 49.1831 15.5945 45.2693C9.5814 41.823 3.17078 38.4311 1.09132 31.7348C-1.18402 24.4077 0.13899 16.2682 4.68251 10.1306C9.37731 3.78867 16.7797 0.122345 24.5815 0.00326537Z' fill='%23EDFCFD'/%3E%3C/svg%3E");
	}
	// .service__caption
	&__caption {
		line-height: 1.25;
	}
	// .service__price
	&__price {
		margin-top: 0.75rem;
	}
	// .service__price-item
	&__price-item {
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	// .service__price-caption
	&__price-caption {
		font-size: 1.25rem;
		line-height: 1;
		letter-spacing: em(0.03125, 1.25);
	}
	// .service__price-value
	&__price-value {
		margin-top: 1.06rem;
		color: $blue;
		font-family: $font-manrope;
		font-size: 1.5rem;
		text-transform: lowercase;
	}
	// .service__desc
	&__desc {
		margin-top: 0.75rem;
		font-size: 1.25rem;
		margin-bottom: auto;
	}
	// .service__link
	&__link {
		margin-top: 1.5rem;
		margin-left: 0;
	}
}

.specialists {
	// .specialists__container
	&__container {
	}
	// .specialists__title
	&__title {
		margin-bottom: rem(72);
	}
	// .specialists__slider
	&__slider {
		@media (min-width: $md4) {
			.swiper-wrapper {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				row-gap: rem(72);
				column-gap: rem(20);
			}
		}
	}
	// .specialists__pagination
	&__pagination {
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .specialists__row
	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	// .specialists__column
	&__column {
	}
	// .specialists__more
	&__more {
	}
}

.specialist {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(20);
	// .specialist__image
	&__image {
		border-radius: 1.25rem;
		overflow: hidden;
		background: #fff;
		height: 20.0625rem;
		& img {
			border-radius: 1.25rem;
			object-position: center 25%;
			transition: transform 0.15s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.05);
				}
			}
		}
	}
	// .specialist__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-top: rem(8);
	}
	// .specialist__name
	&__name {
		font-size: 1.625rem;
		font-weight: 500;
		transition: color 0.3s ease;
		margin-bottom: 1rem;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .specialist__experience
	&__experience {
		color: #666a71;
		font-size: 1.375rem;
	}
	// .specialist__position
	&__position {
		color: #666a71;
		font-size: 1.375rem;
	}
	// .specialist__btns
	&__btns {
		margin-top: auto;
		width: 100%;
	}
	// .specialist__btn
	&__btn {
		&:first-child:last-child {
			width: 100%;
		}
	}
}

.reviews {
	// .reviews__container
	&__container {
	}
	// .reviews__title
	&__title {
	}
	// .reviews__subtitle
	&__subtitle {
		color: $blue;
		margin-top: 1rem;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			margin-top: 2.5rem;
			font-size: 1.25rem;
		}
		@media (min-width: $md5) {
			font-size: 1.875rem;
			margin-top: 4.5rem;
		}
	}
	// .reviews__slider
	&__slider {
		width: fit-content;
		overflow: visible;
		max-width: 100%;
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 3.5rem;
		}
		@media (min-width: $md2) {
			margin-top: 4.5rem;
		}
	}
	// .reviews__item
	&__item {
		width: auto;
	}
	// .reviews__item-card
	&__item-card {
		background: #fff;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 1.25rem 1rem;
		width: rem(170);
		border-radius: 0.5rem;
		@media (min-width: $md5) {
			border-radius: 0.9375rem;
			width: 15.25rem;
		}
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #fff, $amount: 5);
			}
		}
	}
	// .reviews__item-logo
	&__item-logo {
		& img {
			height: 1.375rem;
			@media (min-width: $md5) {
				height: auto;
			}
		}
	}
	// .reviews__item-rate
	&__item-rate {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;
		margin-top: 0.5rem;
		@media (min-width: $md5) {
			margin-top: 1.15rem;
			font-size: 1.25rem;
		}
		@media (min-width: $md2) {
			font-size: 1.5625rem;
		}
	}
	// .reviews__item-star
	&__item-star {
		color: #3fc1c9;
	}
	// .reviews__item-quantity
	&__item-quantity {
		margin-top: 0.23rem;
		color: #666a71;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			font-size: 1.375rem;
		}
	}
}

.license {
	// .license__wrapper
	&__wrapper {
		background: rgba(63, 193, 201, 0.25);
		padding: rem(72) 0 0;
	}
	// .license__container
	&__container {
	}
	// .license__content
	&__content {
		display: flex;
		align-items: flex-end;
		padding-right: rem(96);
	}
	// .license__main
	&__main {
		padding-bottom: rem(72);
		flex: 1 1 auto;
		margin-right: -3rem;
	}
	// .license__body
	&__body {
		margin-top: rem(64);
		display: flex;
		gap: 1.5rem;
		padding-left: 6.75rem;
	}
	// .license__photo
	&__photo {
		max-width: 11.6875rem;
	}
	// .license__info
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		gap: 2rem;
	}
	// .license__name
	&__name {
		font-size: 1.375rem;
		& span {
			white-space: nowrap;
		}
	}
	// .license__btn
	&__btn {
	}
	// .license__title
	&__title {
	}
	// .license__image
	&__image {
		flex: 0 0 33%;
		pointer-events: none;
	}
}

.works {
	// .works__container
	&__container {
	}
	// .works__title
	&__title {
	}
	// .works__slider
	&__slider {
		// display: grid;
		// grid-template-columns: repeat(3, 1fr);
		// gap: 1.31rem;
		margin-top: 2.5rem;
		@media (min-width: $md5) {
			margin-top: 3.5rem;
		}
		@media (min-width: $md2) {
			margin-top: rem(72);
		}
	}
	// .works__item
	&__item {
		display: flex;
		flex-direction: column;
	}
	// .works__item-slider
	&__item-slider {
	}
	// .works__item-desc
	&__item-desc {
		margin-top: rem(12);
		font-weight: 500;
		font-size: 1rem;
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md2) {
			font-size: 1.625rem;
		}
	}
	// .works__more
	&__more {
	}
}

.contacts {
	&__wrapper {
		background: rgba(63, 193, 201, 0.25);
		padding: rem(72) 0;
	}
	// .contacts__container
	&__container {
	}
	// .contacts__body
	&__body {
		display: flex;
		gap: 1rem;
	}
	// .contacts__side
	&__side {
		flex: 0 0 25%;
	}
	// .contacts__title
	&__title {
	}
	// .contacts__list
	&__list {
		margin-top: 1.5rem;
		display: flex;
		flex-direction: column;
	}
	// .contacts__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 1.65rem;
		}
	}
	// .contacts__item-caption
	&__item-caption {
		color: $blue;
		font-size: 1.625rem;
		font-weight: 500;
		margin-bottom: 0.31rem;
	}
	// .contacts__item-value
	&__item-value {
		font-size: 1.375rem;
		&:is(a) {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: $blue;
				}
			}
		}
	}
	// .contacts__socials
	&__socials {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	// .contacts__social
	&__social {
		font-size: 2.1875rem;
		transition: color 0.3s ease;
		color: $blue;
		position: relative;
		z-index: 1;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			width: 3rem;
			height: 3rem;
			background: #fff;
			z-index: -1;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
		&.icon-whatsapp {
			@media (any-hover: hover) {
				&:hover {
					color: #25d366;
				}
			}
		}
		&.icon-vk {
			@media (any-hover: hover) {
				&:hover {
					color: #0077ff;
				}
			}
		}
		&.icon-youtube {
			@media (any-hover: hover) {
				&:hover {
					color: #ff0000;
				}
			}
		}
	}
	&__form {
		max-width: rem(633);
		margin-left: auto;
		margin-right: auto;
	}
}

.guidelines {
	background-position: 100% center;
	background-repeat: no-repeat;
	background-size: contain;
	// .guidelines__wrapper
	&__wrapper {
		background-color: rgba(63, 193, 201, 0.25);
		padding: 4.5rem 0;
		background-position: 100% center;
		background-repeat: no-repeat;
		background-size: contain;
		&.guidelines__wrapper_white {
			background-color: transparent;
			padding: 0;
		}
	}
	// .guidelines__container
	&__container {
	}
	// .guidelines__title
	&__title {
	}
	// .guidelines__list
	&__list {
		margin-top: 4.5rem;
		max-width: 47rem;
	}
	// .guidelines__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		position: relative;
		counter-increment: num;
		padding-left: 3.37rem;
		&::before {
			content: counter(num);
			color: $blue;
			font-size: 4.5rem;
			line-height: 1;
			font-weight: 500;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	// .guidelines__item-caption
	&__item-caption {
		color: $blue;
		font-size: 1.625rem;
		font-weight: 500;
	}
	// .guidelines__item-desc
	&__item-desc {
		margin-top: 0.31rem;
		font-size: 1.375rem;
	}
}

.banner {
	border-radius: 1.875rem;
	background: rgba(63, 193, 201, 0.25);
	display: flex;
	border-radius: 1.875rem;
	overflow: hidden;
	padding: 4.87rem 5.63rem 3.38rem 6.75rem;
	&:has(.banner__image-cover) {
		padding: 5.06rem 1rem 7.5rem 6.5rem;
	}
	// .banner__main
	&__main {
	}
	// .banner__time
	&__time {
		display: flex;
		align-items: center;
		gap: 0.38rem;
		color: #3fc1c9;
		font-size: 1.25rem;
		margin-bottom: 1rem;
	}
	// .banner__time-icon
	&__time-icon {
	}
	// .banner__title
	&__title {
	}
	// .banner__desc
	&__desc {
		margin-top: 1rem;
		font-size: 1.375rem;
		line-height: 1.2;
	}
	&__list {
		margin-top: 1rem;
		color: #666a71;
		font-size: 1.25rem;
		line-height: 1;
		letter-spacing: em(0.03125, 1.25);
		li {
			&::before {
				content: "*";
			}
		}
	}
	// .banner__footer
	&__footer {
		margin-top: 2.62rem;
		display: flex;
		align-items: center;
		gap: 2rem;
	}
	// .banner__price
	&__price {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .banner__price-old
	&__price-old {
		color: #979797;
		font-size: 1.5rem;
		font-weight: 500;
		text-decoration: line-through;
	}
	// .banner__price-new
	&__price-new {
		color: #ce0000;
		font-size: 2rem;
		font-weight: 500;
	}
	// .banner__btn
	&__btn {
	}
	// .banner__image
	&__image {
		flex-shrink: 0;
		pointer-events: none;
		width: 24.5rem;

		&.banner__image-cover {
			width: 37.5rem;
			margin: -5.06rem -1rem -7.5rem -5rem;
		}
		& img {
			height: 100%;
			width: auto;
		}
	}
}
