body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	color: $text;
	background-color: #edfcfd;
	margin-right: 0 !important;
	&:has(.menu.active) {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 1 auto;
	overflow: hidden;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

[class*="__container"] {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(12);
	@media (min-width: $md5) {
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: $maxWidthContainer;
	}
}

//=============== LAYOUT ===============================

.title {
	color: $blue;
	font-family: $font-gilroy;
	font-size: 2.5rem;
	font-weight: 500;
}

.title-sm {
	color: $blue;
	font-family: $font-gilroy;
	font-size: 1.625rem;
	font-weight: 500;
}

.quantity-block {
	display: flex;
	border-radius: rem(7);
	user-select: none;
	overflow: hidden;
	&.quantity-block-lg {
		min-height: rem(56);
		width: 100%;
		@media (min-width: $md4) {
			max-width: rem(200);
		}
		flex-shrink: 0;
		.quantity-block__btn {
			font-size: rem(24);
		}
		.quantity-block__input {
			font-size: rem(24);
			min-width: rem(75);
			flex: 1 1 auto;
			width: 100%;
		}
	}
	// .quantity-block__btn
	&__btn {
		background: rgba($color: #eaeaea, $alpha: 0.7);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(19);
		padding: 0 rem(9);
		line-height: math.div(29, 19);
		width: 100%;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #eaeaea, $amount: 10);
			}
		}
	}
	// .quantity-block__input
	&__input {
		appearance: none;
		border: rem(1) solid rgba(196, 196, 196, 0.5);
		border-bottom: none;
		border-top: none;
		color: $text;
		display: flex;
		font-size: rem(18);
		font-weight: 500;
		letter-spacing: em(0.25, 18);
		line-height: math.div(25, 18);
		text-overflow: ellipsis;
		outline: none;
		text-align: center;
		width: rem(41);
		background: rgba($color: #eaeaea, $alpha: 0.7);
	}
}

.swiper-button-next,
.swiper-button-prev {
	&::after {
		display: none;
	}

	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;
	width: 2.25rem;
	height: 2.25rem;
	font-size: 0.75rem;
	border-radius: rem(4);
	display: flex;
	justify-content: center;
	align-items: center;
	background: $accent;
	color: $white;
	box-shadow: 0 0 rem(9) rgba(0, 0, 0, 0.06);
	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		background: $white;
		color: $text;
		pointer-events: none;
	}
	&.swiper-button-lock {
		display: none;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $white;
			color: $text;
		}
	}
}

// .swiper-button-prev {
// 	@extend %ic, .icon-chevron-left;
// }
// .swiper-button-next {
// 	@extend %ic, .icon-chevron-right;
// }

.swiper-pagination {
	position: static;
	bottom: auto;

	display: flex;
	justify-content: center;
	&.swiper-pagination-lock {
		margin-top: 0;
	}
	.swiper-pagination-bullet {
		position: relative;
		width: 0.5rem;
		height: 0.5rem;
		--swiper-pagination-bullet-horizontal-gap: #{rem(6)};
		background: #d9d9d9;
		opacity: 1;
		transition: all 0.3s ease 0s;
		&.swiper-pagination-bullet-active {
			background: $accent;
		}
	}
}

.services {
	padding: rem(60) 0;
	// .services__container
	&__container {
	}
	// .services__title
	&__title {
	}
	// .services__grid
	&__grid {
		margin-top: 4.5rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.25rem;
	}
	// .services__list
	&__list {
		margin-top: 4.5rem;
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		.service {
			display: grid;
			align-items: center;
			grid-template-columns: repeat(2, 1fr);
			padding: 1.5rem 2rem;
			.service__desc {
				margin-top: auto;
			}
		}
	}
	// .services__btn
	&__btn {
		margin-top: 2.5rem;
	}
}

.service {
	border-radius: 0.9375rem;
	background: #fff;
	padding: 1.25rem 1.125rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .service__main
	&__main {
		display: flex;
		flex-direction: column;
	}
	// .service__header
	&__header {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	// .service__icon
	&__icon {
		width: 3.125rem;
		height: 3.11313rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='53' viewBox='0 0 50 53' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.5815 0.00326537C32.5332 -0.118102 40.3335 3.14549 45.2434 9.51151C50.1099 15.8212 50.8118 24.147 49.2697 32.013C47.6623 40.2124 44.5299 49.2226 36.867 52.2391C29.5575 55.1165 22.4233 49.1831 15.5945 45.2693C9.5814 41.823 3.17078 38.4311 1.09132 31.7348C-1.18402 24.4077 0.13899 16.2682 4.68251 10.1306C9.37731 3.78867 16.7797 0.122345 24.5815 0.00326537Z' fill='%23EDFCFD'/%3E%3C/svg%3E");
	}
	// .service__caption
	&__caption {
	}
	// .service__price
	&__price {
		margin-top: 0.75rem;
	}
	// .service__price-item
	&__price-item {
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	// .service__price-caption
	&__price-caption {
		font-size: 1.25rem;
		line-height: 1;
		letter-spacing: em(0.03125, 1.25);
	}
	// .service__price-value
	&__price-value {
		margin-top: 1.06rem;
		color: $blue;
		font-family: $font-manrope;
		font-size: 1.5rem;
		text-transform: lowercase;
	}
	// .service__desc
	&__desc {
		margin-top: 0.75rem;
		font-size: 1.25rem;
		line-height: 1;
		letter-spacing: em(0.03125, 1.25);
		margin-bottom: auto;
	}
	// .service__link
	&__link {
		margin-top: 0.94rem;
	}
}

.specialists {
	padding: rem(60) 0;
	// .specialists__container
	&__container {
	}
	// .specialists__title
	&__title {
		margin-bottom: rem(72);
	}
	// .specialists__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: rem(72);
		column-gap: rem(45);
	}
	// .specialists__row
	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	// .specialists__column
	&__column {
	}
}

.specialist {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(20);
	// .specialist__image
	&__image {
		border-radius: 1.25rem;
		overflow: hidden;
		& img {
			border-radius: 1.25rem;
			transition: transform 0.15s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.05);
				}
			}
		}
	}
	// .specialist__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .specialist__name
	&__name {
		font-family: $font-gilroy;
		font-size: 1.625rem;
		font-weight: 500;
		transition: color 0.3s ease;
		margin-bottom: 1rem;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .specialist__experience
	&__experience {
		color: #666a71;
		font-size: 1.375rem;
	}
	// .specialist__position
	&__position {
		color: #666a71;
		font-size: 1.375rem;
	}
	// .specialist__btns
	&__btns {
		margin-top: auto;
		width: 100%;
	}
	// .specialist__btn
	&__btn {
		&:first-child:last-child {
			width: 100%;
		}
	}
}

.reviews {
	padding: rem(60) 0;
	// .reviews__container
	&__container {
	}
	// .reviews__title
	&__title {
	}
	// .reviews__subtitle
	&__subtitle {
		margin-top: 4.5rem;
		color: $blue;
		font-size: 1.875rem;
	}
	// .reviews__list
	&__list {
		margin-top: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 2.88rem;
	}
	// .reviews__item
	&__item {
	}
	// .reviews__item-card
	&__item-card {
		border-radius: 0.9375rem;
		background: #fff;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 1.25rem 1rem;
		min-width: 15.25rem;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #fff, $amount: 5);
			}
		}
	}
	// .reviews__item-logo
	&__item-logo {
	}
	// .reviews__item-rate
	&__item-rate {
		margin-top: 0.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;
		font-size: 1.5625rem;
	}
	// .reviews__item-star
	&__item-star {
		color: #3fc1c9;
	}
	// .reviews__item-quantity
	&__item-quantity {
		margin-top: 0.13rem;
		color: #666a71;
		font-size: 1.375rem;
	}
}

.license {
	padding: rem(60) 0;
	// .license__wrapper
	&__wrapper {
		background: rgba(63, 193, 201, 0.25);
		padding: rem(72) 0 0;
	}
	// .license__container
	&__container {
	}
	// .license__content
	&__content {
		display: flex;
		align-items: flex-end;
		flex: 1 1 auto;
	}
	// .license__main
	&__main {
		padding-bottom: rem(72);
	}
	// .license__body
	&__body {
		margin-top: rem(64);
		display: flex;
		gap: 1.5rem;
		padding-left: 6.75rem;
	}
	// .license__photo
	&__photo {
		max-width: 11.6875rem;
	}
	// .license__info
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		gap: 2rem;
	}
	// .license__name
	&__name {
		font-size: 1.375rem;
	}
	// .license__btn
	&__btn {
	}
	// .license__title
	&__title {
	}
	// .license__image
	&__image {
		flex: 0 0 25%;
	}
}

.works {
	padding: rem(60) 0;
	// .works__container
	&__container {
	}
	// .works__title
	&__title {
	}
	// .works__items
	&__items {
		margin-top: rem(72);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.31rem;
	}
	// .works__item
	&__item {
		display: flex;
		flex-direction: column;
	}
	// .works__item-slider
	&__item-slider {
	}
	// .works__item-desc
	&__item-desc {
		margin-top: rem(12);
		font-family: $font-gilroy;
		font-size: 1.625rem;
		font-weight: 500;
	}
	// .works__more
	&__more {
	}
}
