.footer {
	padding: 2rem 0;
	@media (min-width: $md5) {
		padding: 4.5rem 0;
	}
	background: #3fc1c9;
	color: #fff;
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@media (min-width: $md3) {
			display: flex;
			justify-content: space-between;
		}
		gap: 1rem;
	}
	// .footer__column
	&__column {
		max-width: 15.375rem;
	}
	// .footer__logo
	&__logo {
		display: inline-block;
		max-width: 5.3125rem;
		@media (min-width: $md5) {
			max-width: 10.6875rem;
		}
	}
	// .footer__license
	&__license {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
	}
	// .footer__license-title
	&__license-title {
	}
	// .footer__license-value
	&__license-value {
		margin-top: 1rem;
		text-decoration: underline;
		text-align: left;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}
	// .footer__menu
	&__menu {
		@media (min-width: $md3) {
			max-width: 9rem;
			flex: 0 0 9rem;
		}
		@media (min-width: $md2) {
			flex: 0 1 auto;
		}
		& ul {
			font-size: 0.75rem;
			@media (min-width: $md5) {
				font-size: 1rem;
			}
			@media (min-width: $md2) {
				font-size: 1.125rem;
			}
			& li {
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
			& a {
				@media (any-hover: hover) {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	// .footer__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 14.625rem;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
	}
	// .footer__contacts-link
	&__contacts-link {
	}
	// .footer__contacts-address
	&__contacts-address {
	}
	// .footer__contacts-phone
	&__contacts-phone {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $blue;
			}
		}
	}
	// .footer__contacts-socials
	&__contacts-socials {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	// .footer__contacts-social
	&__contacts-social {
		position: relative;
		width: 1.5625rem;
		height: 1.5625rem;
		font-size: 1.5625rem;
		color: #106fae;
		transition: color 0.3s ease;
		z-index: 1;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			width: 2.5rem;
			height: 2.5rem;
			background: #fff;
			z-index: -1;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
		&.icon-whatsapp {
			@media (any-hover: hover) {
				&:hover {
					color: #25d366;
				}
			}
		}
		&.icon-vk {
			@media (any-hover: hover) {
				&:hover {
					color: #0077ff;
				}
			}
		}
		&.icon-youtube {
			@media (any-hover: hover) {
				&:hover {
					color: #ff0000;
				}
			}
		}
	}
	// .footer__side
	&__side {
		display: contents;
		@media (min-width: $md3) {
			display: block;
		}
	}
	// .footer__schelude
	&__schelude {
		max-width: 12rem;
		font-size: 0.75rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
	}
	// .footer__schelude-title
	&__schelude-title {
	}
	// .footer__schelude-time
	&__schelude-time {
		margin-top: 1.19rem;
	}
	// .footer__callback
	&__callback {
		margin-top: 1rem;
		white-space: nowrap;
	}
}
