.header {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
	// .header__container
	&__container {
	}
	// .header__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.75rem 0 0.75rem;
	}
	// .header__logo
	&__logo {
		max-width: 9.3125rem;
		height: rem(60);
	}
	// .header__location
	&__location {
		font-size: 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		&::before {
			color: #106fae;
			font-size: 1.325rem;
		}
	}
	// .header__time
	&__time {
		@extend .header__location;
		&::before {
			font-size: 1rem;
		}
	}
	// .header__phone
	&__phone {
		@extend .header__location;
		&::before {
			font-size: 1.25rem;
		}
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $blue;
			}
		}
	}
	// .header__search
	&__search {
	}
	// .header__btn
	&__btn {
	}
	// .header__menu
	&__menu {
	}
	// .header__menu-toggler
	&__menu-toggler {
		display: none;
	}
	// .header__actions
	&__actions {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

.search {
	position: relative;
	&.active {
		.search__form {
			width: rem(874);
			opacity: 1;
			visibility: visible;
		}
	}
	// .search__form
	&__form {
		position: absolute;
		right: -0.5rem;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
		opacity: 0;
		visibility: hidden;
		transition: width 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
	}
	// .search__btn
	&__btn {
		font-size: 1.65rem;
		color: #106fae;
	}
	// .search__form-input
	&__form-input {
		background: #ffffff;
		border: rem(1) solid #ffffff;

		font-size: 1.125rem;
		border-radius: 27rem;
		padding: 1.25rem 1.5rem;
		width: 100%;
		text-overflow: ellipsis;
		transition: border-color 0.3s ease;
		&:focus {
			border: rem(1) solid $accent;
		}
	}
	&__form-btns {
		display: flex;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;

		gap: 1.5rem;
		color: #106fae;
	}
	// .search__form-submit
	&__form-submit {
		font-size: 1.65rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .search__form-reset
	&__form-reset {
		font-size: 1.5rem;
		transition: color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
		opacity: 0;
		visibility: hidden;
		&.active {
			opacity: 1;
			visibility: visible;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
}

.menu {
	flex: 1 1 auto;
	border-radius: 18.8125rem;
	background: #3fc1c9;
	color: #fff;
	padding: 0 3.19rem;
	position: relative;
	@media (max-width: $md2) {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #fff;
		z-index: 10;
		padding: rem(50);
		transition: transform 0.3s ease;
		transform: translateX(-100%);
		overflow-y: auto;
		&.active {
			transform: none;
		}
	}
	// .menu__close
	&__close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		width: 1.5rem;
		height: 1.5rem;
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: $md2) {
			display: none;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-direction: column;
		@media (min-width: $md2) {
			align-items: center;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	// .menu__item
	&__item {
		font-size: rem(15);
		padding: 1rem 0;
		@media (min-width: $md1) {
			padding: 1.59rem 0;
			font-size: 1rem;
		}
		&.has-child {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			@media (min-width: $md2) {
				flex-wrap: nowrap;
				@media (any-hover: hover) {
					&:hover {
						.submenu {
							display: block;
						}
						.menu__link {
							color: $blue;
						}
						.menu__arrow {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
	}
	// .menu__link
	&__link {
		font-size: 1.25rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $blue;
			}
		}
		&.active {
			color: $blue;
		}
	}
}

.submenu {
	z-index: 2;
	display: none;
	padding-top: rem(10);

	@media (max-width: $md2) {
		flex: 0 0 100%;
		&.active {
			display: block;
		}
	}
	@media (min-width: $md2) {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		&.active {
			@media (hover: none) {
				display: block;
			}
		}
	}
	// .submenu__list
	&__list {
		columns: 3;
		padding: 2rem;
		background: #fff;
		color: #171717;
		box-shadow: rem(6) rem(7) rem(6.3) 0 rgba(0, 0, 0, 0.15);
		border-radius: 1.6875rem;
		column-gap: 10rem;
	}
	// .submenu__item
	&__item {
		break-inside: avoid;
		margin-bottom: 3.5rem;
		max-width: 19.5rem;
	}
	// .submenu__item-link
	&__item-link {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		color: #106fae;
		font-size: 1.25rem;
		font-weight: 500;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #106fae, $amount: 10);
			}
		}
	}
	// .submenu__item-icon
	&__item-icon {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='53' viewBox='0 0 50 53' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.5815 0.00326537C32.5332 -0.118102 40.3335 3.14549 45.2434 9.51151C50.1099 15.8212 50.8118 24.147 49.2697 32.013C47.6623 40.2124 44.5299 49.2226 36.867 52.2391C29.5575 55.1165 22.4233 49.1831 15.5945 45.2693C9.5814 41.823 3.17078 38.4311 1.09132 31.7348C-1.18402 24.4077 0.13899 16.2682 4.68251 10.1306C9.37731 3.78867 16.7797 0.122345 24.5815 0.00326537Z' fill='%23EDFCFD'/%3E%3C/svg%3E");
		flex-shrink: 0;
		width: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			height: rem(40);
		}
	}
	// .submenu__categories
	&__categories {
		margin-top: 1rem;
		font-size: 1.125rem;
	}
	// .submenu__categories-item
	&__categories-item {
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
	// .submenu__categories-link
	&__categories-link {
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		&.color-accent {
		}
	}
}
