%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-check:before {
	content: "\e90f";
}
.icon-calendar:before {
	content: "\e90d";
}
.icon-chevron-down:before {
	content: "\e90e";
}
.icon-chevron:before {
	content: "\e90c";
}
.icon-resize:before {
	content: "\e90b";
}
.icon-star-outline:before {
	content: "\e90a";
}
.icon-arrow-circle:before {
	content: "\e900";
}
.icon-clock:before {
	content: "\e901";
}
.icon-close:before {
	content: "\e902";
}
.icon-location:before {
	content: "\e903";
}
.icon-phone:before {
	content: "\e904";
}
.icon-search:before {
	content: "\e905";
}
.icon-star:before {
	content: "\e906";
}
.icon-vk:before {
	content: "\e907";
}
.icon-whatsapp:before {
	content: "\e908";
}
.icon-youtube:before {
	content: "\e909";
}
