// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Gilroy";
$font-manrope: "Manrope";
// Шрифт по умолчанию

$md1: 1399.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 375; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1316); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$white: #fff;
$bg-color: #edfcfd;
$text: #171717;
$grey: #666a71;

$accent: #3fc1c9;
$blue: #106fae;
$red: #ce0000;

$header: var(--header-height, 11.375rem);

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

// СТИЛИ СТРАНИЦ

@import "pages/home";
@import "pages/promotions";
@import "pages/catalog";
@import "pages/product";
