.color-accent {
	color: $accent;
}

.color-blue {
	color: $blue;
}

.color-grey {
	color: $grey;
}

.more-link {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	color: $blue;

	display: flex;
	align-items: center;
	gap: 1rem;
	&::before {
		order: 1;
		font-size: em(2.75, 1.375);
		transition: transform 0.3s ease;
	}
	margin-top: 1.5rem;
	font-size: 1rem;
	transition: color 0.3s ease;
	@media (min-width: $md5) {
		font-size: 1.125rem;
	}
	@media (min-width: $md4) {
		margin-top: 2rem;
		font-size: 1.375rem;
	}
	@media (any-hover: hover) {
		&:hover {
			color: darken($color: $blue, $amount: 20);
			&::before {
				transform: translateX(1rem);
			}
		}
	}
}

.title {
	color: $blue;
	font-weight: 500;
	font-size: 1.125rem;
	@media (min-width: $md5) {
		font-size: 1.875rem;
	}
	@media (min-width: $md3) {
		font-size: 2.5rem;
	}
}

.title-md {
	color: $blue;
	font-weight: 500;
	font-size: 1.25rem;
	@media (min-width: $md5) {
		font-size: 1.5rem;
	}
	@media (min-width: $md2) {
		font-size: 2rem;
	}
}

.title-sm {
	color: $blue;
	font-weight: 500;
	font-size: 1rem;
	@media (min-width: $md5) {
		font-size: 1.25rem;
	}
	@media (min-width: $md2) {
		font-size: 1.5rem;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.fw-medium {
	font-weight: 500;
}

.separator {
	&__image {
		position: relative;

		& img {
			min-height: 9.5rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(16, 111, 174, 0.5);
		}
	}
}

.rate {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	margin-top: 0.5rem;
	@media (min-width: $md5) {
		margin-top: 1.15rem;
		font-size: 1.25rem;
	}
	@media (min-width: $md2) {
		font-size: 1.5625rem;
	}
	&__star {
		color: #3fc1c9;
	}
}

.quantity-block {
	display: flex;
	border-radius: rem(7);
	user-select: none;
	overflow: hidden;
	&.quantity-block-lg {
		min-height: rem(56);
		width: 100%;
		@media (min-width: $md4) {
			max-width: rem(200);
		}
		flex-shrink: 0;
		.quantity-block__btn {
			font-size: rem(24);
		}
		.quantity-block__input {
			font-size: rem(24);
			min-width: rem(75);
			flex: 1 1 auto;
			width: 100%;
		}
	}
	// .quantity-block__btn
	&__btn {
		background: rgba($color: #eaeaea, $alpha: 0.7);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(19);
		padding: 0 rem(9);
		line-height: math.div(29, 19);
		width: 100%;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #eaeaea, $amount: 10);
			}
		}
	}
	// .quantity-block__input
	&__input {
		appearance: none;
		border: rem(1) solid rgba(196, 196, 196, 0.5);
		border-bottom: none;
		border-top: none;
		color: $text;
		display: flex;
		font-size: rem(18);
		font-weight: 500;
		letter-spacing: em(0.25, 18);
		line-height: math.div(25, 18);
		text-overflow: ellipsis;
		outline: none;
		text-align: center;
		width: rem(41);
		background: rgba($color: #eaeaea, $alpha: 0.7);
	}
}

.swiper-button-next,
.swiper-button-prev {
	&::after {
		font-size: 1.5rem;
		font-weight: 300;
	}

	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;
	width: 3.4375rem;
	height: 3.4375rem;

	border-radius: 50%;

	background: $accent;
	color: $white;

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		background: $white;
		color: $text;
		pointer-events: none;
	}
	&.swiper-button-lock {
		display: none;
	}

	@media (any-hover: hover) {
		&:hover {
			background: $white;
			color: $text;
		}
	}
}

.swiper-button-prev {
	left: rem(-20);
}
.swiper-button-next {
	right: rem(-20);
}

.swiper-pagination {
	margin-top: 1.31rem;
	position: static;
	bottom: auto;
	padding: 0.25rem 0;
	display: flex;
	justify-content: center;
	&.swiper-pagination-lock {
		margin-top: 0;
	}
	.swiper-pagination-bullet {
		position: relative;
		width: rem(7);
		height: rem(7);
		--swiper-pagination-bullet-horizontal-gap: #{rem(6)};
		border: rem(1) solid $blue;
		opacity: 1;
		transition: all 0.3s ease 0s;
		&.swiper-pagination-bullet-active {
			background: $blue;
			transform: scale(math.div(9, 7));
		}
	}
}

.table {
	& table {
		width: 100%;

		& thead {
			border-radius: 1rem 1rem 0rem 0rem;
			background: rgba(63, 193, 201, 0.5);
			color: #fff;
			text-align: center;
			& th {
				font-weight: 500;
				font-size: 1rem;
				padding: 0.75rem 1rem;
				@media (min-width: $md5) {
					font-size: 1.25rem;
				}
				@media (min-width: $md3) {
					padding: 1rem 1.87rem;
					font-size: 1.5rem;
				}
				&:first-child {
					border-radius: 1rem 0rem 0rem 0;
				}
				&:last-child {
					border-radius: 0rem 1rem 0 0rem;
				}
			}
		}
		& tbody {
			& tr {
				&:not(:last-child) {
					border-bottom: 1.5rem solid $bg-color;
				}
				& td {
					font-size: 0.75rem;
					padding: 1em;

					@media (min-width: $md5) {
						font-size: 1rem;
					}
					@media (min-width: $md3) {
						padding: 1.15rem rem(18);
						font-size: 1.375rem;
					}
					background: #fff;
					&:first-child {
						text-align: left;
					}
					&:last-child {
						text-align: right;
						color: $blue;
						font-weight: 500;
						font-size: 1rem;
						@media (min-width: $md5) {
							font-size: 1.25rem;
						}
						@media (min-width: $md3) {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}

.text-nowrap {
	white-space: nowrap;
}

// .label {
// 	border: rem(1) solid $brownDark;
// 	color: $white;
// 	background: $brownDark;
// 	border-radius: 1rem;
// 	font-size: 0.75rem;
// 	letter-spacing: em(0.25, 14);
// 	line-height: math.div(24, 12);
// 	padding: 0 rem(14);
// }

// .favorite-btn {
// 	width: rem(30);
// 	height: rem(30);
// 	font-size: 1.25rem;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-shrink: 0;
// 	background: #fff;
// 	border-radius: 50%;
// 	&::before {
// 		@extend %ic, .icon-heart;
// 		transition: all 0.3s ease 0s;
// 	}
// 	@media (any-hover: hover) {
// 		&:hover {
// 			color: $accent;
// 		}
// 	}
// 	&.active {
// 		&::before {
// 			@extend %ic, .icon-heart-fill;
// 			color: $accent;
// 			animation: pulse 0.3s ease-in-out;
// 			@keyframes pulse {
// 				0% {
// 					transform: scale(1);
// 				}
// 				50% {
// 					transform: scale(1.4);
// 				}
// 				100% {
// 					transform: scale(1);
// 				}
// 			}
// 		}
// 	}
// }

// .arrow-top-btn {
// 	border-radius: rem(17);
// 	bottom: 30%;
// 	box-shadow: 0 rem(1) 1rem rgba(0, 0, 0, 0.13);
// 	background: $white;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;

// 	gap: 1rem;
// 	padding: rem(6) rem(17) rem(10);
// 	font-weight: 500;
// 	position: fixed;
// 	right: 0;
// 	@media (min-width: $md4) {
// 		right: 2%;
// 	}
// 	transform: rotate(90deg);
// 	z-index: 99;
// 	transition: background-color 0.3s ease, color 0.3s ease;
// 	&::before {
// 		margin-top: 0.35rem;
// 	}
// 	@media (any-hover: hover) {
// 		&:hover {
// 			background-color: $text;
// 			color: $white;
// 		}
// 	}
// }

//============ МОДУЛИ ====================
@import "modules/popup";
@import "modules/breads";
@import "modules/before-slider";
@import "modules/datepicker";

// @import "modules/select";
// @import "modules/pagination";
// @import "modules/phone-input";

//============ МОДУЛИ ====================

// .fw-bold {
// 	font-weight: 700;
// }

// .text-center {
// 	text-align: center;
// }

// .text-center-mobile {
// 	@media (max-width: $md4) {
// 		text-align: center;
// 	}
// }

// .rate-label {
// 	border-radius: 0.375rem;
// 	background: $grey;
// 	color: $white;
// 	display: inline-flex;
// 	align-items: center;
// 	gap: 0.25rem;
// 	padding: 0.25rem 0.375rem;
// 	font-size: 0.875rem;
// 	line-height: 100%;
// 	&::before {
// 		color: $orange;
// 	}
// }

// .favorite-btn {
// 	width: rem(40);
// 	height: rem(40);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	font-size: 1.5rem;
// 	background: #f3f6fa;
// 	border-radius: 50%;
// 	flex-shrink: 0;
// 	&::before {
// 		@extend %ic, .icon-heart;
// 		transition: all 0.3s ease 0s;
// 	}
// 	&.active {
// 		&::before {
// 			@extend %ic, .icon-heart-fill;
// 			color: #82a6ca;
// 			animation: pulse 0.3s ease-in-out;
// 			@keyframes pulse {
// 				0% {
// 					transform: scale(1);
// 				}
// 				50% {
// 					transform: scale(1.4);
// 				}
// 				100% {
// 					transform: scale(1);
// 				}
// 			}
// 		}
// 	}
// }

// .uppercase-mobile {
// 	@media (max-width: $md4) {
// 		text-transform: uppercase;
// 	}
// }

// .desktop-only {
// 	@media (max-width: $md2) {
// 		display: none;
// 	}
// }

// .mobile-only {
// 	@media (min-width: $md4) {
// 		display: none;
// 	}
// }

// .tablet-only {
// 	@media (min-width: $md2) {
// 		display: none;
// 	}
// }

// .pagination {
// 	display: flex;
// 	justify-content: center;
// 	gap: 0.63rem;
// 	// .pagination__btn
// 	&__btn {
// 		line-height: 1.6;
// 		font-size: 1rem;
// 		color: #fff;
// 		@media (min-width: $md4) {
// 			font-size: 1.125rem;
// 			padding: 0.75rem 0.88rem;
// 		}
// 		&:first-child {
// 			@media (min-width: $md4) {
// 				margin-right: 1.87rem;
// 			}
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			&::before {
// 				@extend %ic, .icon-chevron;

// 				transform: rotate(180deg);
// 			}
// 		}
// 		&:last-child {
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			@media (min-width: $md4) {
// 				margin-left: 1.87rem;
// 			}
// 			&::before {
// 				@extend %ic, .icon-chevron;
// 			}
// 		}
// 		transition: color 0.3s ease 0s;
// 		color: #fff;
// 		@media (min-width: $md4) {
// 			color: #9aa2a9;
// 		}
// 		@media (any-hover: hover) {
// 			&:hover {
// 				color: #fff;
// 			}
// 		}
// 		&::before {
// 			@media (min-width: $md4) {
// 				display: none;
// 			}
// 		}
// 		& span {
// 			display: none;
// 			font-size: 1rem;
// 			@media (min-width: $md4) {
// 				display: block;
// 			}
// 		}
// 		&[aria-disabled="true"] {
// 			pointer-events: none;
// 			color: #9aa2a9;
// 		}
// 	}
// 	// .pagination__item
// 	&__item {
// 		justify-content: center;
// 		align-items: center;
// 		display: none;
// 		width: 2.5rem;
// 		height: 2.5rem;
// 		font-size: 0.66575rem;
// 		@media (min-width: $md4) {
// 			width: 2.875rem;
// 			height: 2.875rem;
// 			font-size: 0.875rem;
// 			display: flex;
// 		}
// 		@media (min-width: $md2) {
// 			font-size: 1rem;
// 			width: 3.5rem;
// 			height: 3.5rem;
// 		}
// 		flex-shrink: 0;

// 		border-radius: 50%;
// 		border: 1px solid rgba($color: #fff, $alpha: 0.3);
// 		color: #fff;
// 		&[href] {
// 			transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, color 0.3s ease 0s;
// 			@media (any-hover: hover) {
// 				&:hover {
// 					border-color: #fff;
// 					background: #fff;
// 					color: $dark;
// 				}
// 			}
// 		}
// 		&.active {
// 			border-color: #fff;
// 			background: #fff;
// 			color: $dark;
// 			display: flex;
// 			& + * {
// 				display: flex;
// 				& + * {
// 					display: flex;
// 				}
// 			}
// 			& ~ :nth-last-child(2),
// 			& ~ :nth-last-child(3) {
// 				display: flex;
// 			}
// 		}
// 	}
// }

// ._loading {
// 	color: transparent;
// 	&::after {
// 		content: "";
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -50%);
// 		width: 20px;
// 		height: 20px;
// 		border: 3px solid #fff;
// 		border-bottom-color: transparent;
// 		border-radius: 50%;
// 		transform-origin: center;
// 		animation: rotation 1s linear infinite;
// 		z-index: 3;
// 	}
// }

// @keyframes rotation {
// 	0% {
// 		transform: translate(-50%, -50%) rotate(0deg);
// 	}
// 	100% {
// 		transform: translate(-50%, -50%) rotate(360deg);
// 	}
// }

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: darken($color: $accent, $amount: 10);
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
